*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif !important;
}

body{
    background: #000;
    color: #FFFFFF;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none !important;
}

.bottomPosition{
    position: absolute;
    bottom: 10px;
}

.subText{
    color: #DDDDDD;
}


/* --------------- navbar --------------- */
nav{
    width: 100vw;
    height: 50px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 200;
    padding-left: 20px;
    padding-right: 20px;
}

nav a{
    text-decoration: none;
    color: #4b0082;
    transition: 0.5s;
    font-weight: 500;
}

nav a:hover{
    color: #000000;
    font-weight: 600;
}

/* --------------- submarine --------------- */

.subMarine{
    height: 60px;
    position: fixed;
    z-index: 300;
    bottom: 20vh;
    left: 5vw;
    opacity: 0;
}

/* --------------- heropage --------------- */

.heroPage{
    height: 100vh;
    width: 100vw;
}

canvas{
    position: absolute !important;
    margin: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    overflow-x: hidden;
}

.heroContent{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#animation_container{
    height: 100vh !important;
}

/* --------------- aboutpage --------------- */

.aboutPage{
    height: 100vh;
    width: 100vw;
    background: #000000;
    color: #FFFFFF;
    background-image: url(../images/aboutPage.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.fish1About{
    height: 50px;
    position: relative;
    top: 40vh;
}

.fish2About{
    height: 50px;
    position: relative;
    top: 50vh;
}

.fish3About{
    height: 40px;
    position: relative;
    top: 30vh;
}